<!-- Custom Foundation Color -->

.has-tip {
  border-bottom: dotted 1px #CCCCCC;
  cursor: default;
  font-weight: bold;
  color: #333333;
}

h2{
    color: #B32927;
}

.top-bar-section ul li.active > a {
      background: #B32927 !important; /*Not proud :(*/
      color: #FFFFFF;
}

body {
    background-image: url(../images/cream_pixels.png);
    background-repeat:repeat;
}